@charset "UTF-8";

table {
	margin: 0 auto;
	justify-content: center;
	width: 50%
}
/* Stil für die Liste */
ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin-bottom: 10px;
	font-size: 18px
}

/* Stil für die Feldnamen */
.field-name {
	font-weight: bold;
	width: 50px;
}

.field-input {
	max-width: 500px;
}

.btn-secondary {
	background-color: red;
}