@charset "UTF-8";

.containerr {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.formr {
	background-color: white;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 10px gray;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="text"], input[type="email"], input[type="password"], .input
	{
	width: 100%;
	padding: 10px;
	margin: 20px 0;
	border-radius: 5px;
	border: 1px solid gray;
}

.inputb:hover {
	background-color: #8000ff;
}

input[type="submit"] {
	background-color: #8080ff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.forgot-password {
	margin-top: 20px;
	color: #000000;
	cursor: pointer;
}

a {
	color: #8080ff;
	text-decoration: none;
}