@charset "UTF-8";

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	padding: 10px 30px;
	width: 100%;
	background: black;
	z-index: 2;
}

header nav {
	margin-right: auto;
}

header img {
	width: 50px;
	height: 50px;
}

#logo {
	font-family: serif;
	font-weight: bold;
	font-size: 50px;
	background-color: black;
	color: yellow;
}

#logo1 {
	letter-spacing: -0.35em;
	font-style: italic;
}

#logo2 {
	letter-spacing: -0.4em;
}

#logo3 {
	letter-spacing: -0.3em;
}

#rest {
	font-size: 60%;
	color: white;
}

.menu-nav {
	display: flex;
	list-style: none;
	vertical-align: middle;
}

.menu-nav li a {
	margin-left: 30px;
	text-decoration: none;
	color: var(--white);
	font-size: 18px
}

.menu-nav li a:hover {
	text-decoration: none;
	color: #aaa;
	transition: .2s;
}

.btn-nav {
	margin-left: 10px;
	position: absolute;
	right: 80px;
	border: none;
	border-radius: 5%;
}

.btn-nav:hover {
	background-color: #c0c0c0;
}

.footer-clean {
	padding: 50px 0;
	background-color: black;
	color: white;
}

.footer-clean h3 {
	margin-top: 0;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 16px;
}

.footer-clean ul {
	padding: 0;
	list-style: none;
	line-height: 1.6;
	font-size: 14px;
	margin-bottom: 0;
}

.footer-clean ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.8;
}

.footer-clean ul a:hover {
	opacity: 1;
}

.footer-clean .item.social {
	text-align: center;
}

@media ( max-width : 760px) {
	.footer-clean .item {
		text-align: center;
		padding-bottom: 20px;
	}
}

@media ( max-width : 760px) {
	.footer-clean .item.social {
		text-align: center;
	}
}

.footer-clean .item.social>a {
	font-size: 24;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 50%;
	margin-left: 10px;
	margin-top: 22px;
	color: inherit;
	opacity: 0.75;
	align-items: center;
}

.footer-clean .copyright {
	margin-top: 14px;
	margin-bottom: 0;
	font-size: 13px;
	opacity: 0.6;
	text-align: center;
}