@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: yellow;
}

.img-container {
	display: inline-block;
	position: relative;
}

.img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: 100%
}

.containerv {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom-color: rgba(0, 0, 0, 0.5);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.content {
	max-width: 1000px;
	margin: 0 auto; /*horizontal zentriert*/
	margin-bottom: 0px;
	text-align: left;
	padding: 20px;
	background-color: #FFFFFF;
	/*box-shadow: 0px 0px 10px #CCCCCC;*/
}

h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

h1 {
	text-align: center;
}

input[type="text"], input[type="password"], input[type="email"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
}

input[type="submit"] {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	background-color: #4CAF50;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3E8E41;
}

h2 {
	Text-align: center;
}

img {
	width: 80%;
	height: 100%;
	object-fit: cover;
}

.container {
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 30px;
}

button {
	padding: 10px 20px;
	margin-top: 20px;
	background-color: white;
	border: 2px solid yellow;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
}