@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	margin: 0;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	padding: 20px;
}

.hairstyle {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

.hairstyle img {
	width: 100%;
	max-height: 200px;
	object-fit: cover;
}

.login {
	display: flex;
	align-items: center;
}

.login form {
	display: flex;
	align-items: center;
}

.login input {
	margin-right: 10px;
	padding: 10px;
}

.login button {
	padding: 10px;
	background-color: #333;
	color: #fff;
	border: none;
	cursor: pointer;
}

.login button:hover {
	background-color: #555;
}

.login a {
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
}

img {
	width: 80%;
	height: 100%;
	object-fit: cover;
}